<h3 class="title">Shortly... <small>best way to shorten your links</small></h3>
<form class="form" #shortenForm="ngForm" (ngSubmit)="shortenForm.form.valid && onSubmit(shortenForm)">
  <input type="text" class="input" placeholder="Shorten a link here" #link="ngModel" ngModel name="link" required
    autocomplete="off">
  <button class="input btn" [disabled]="shortenForm.invalid">
    {{ loaded ? 'Shortening...' : 'Shorten it!' }}
    <i class="fa fa-1x fa-spinner fa-spin" *ngIf="loaded"></i>
  </button>
</form>

<div class="result form" *ngIf="linkShortened">
  <a [href]='linkToBeShortened' target="_blank">{{linkToBeShortened}}</a>


  <a [href]='linkShortened' target="_blank">{{linkShortened}} </a>


  <button class="btn-copy" ngxClipboard [cbContent]="linkShortened" (click)="changeName(link)">{{ link.copy ? 'Copied' :
    'Copy'}}</button>
</div>
